* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #dcdcdc;

    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/*HEAD-GOV*/
#head-gov{
    background-color: #008080;

    padding: 8px 0px;
}

.row-content-links-rodape{
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    width: 1140px;
    margin-left: auto;
    margin-right: auto;   
}


.row-content-links-rodape .logo-amazonas-head img{
    width: 120px;
    height: 43px;
}

/*SEC-HEAD*/

#head-sec{
    background-color: #20b2aa;

    padding: 8px 0px;
}

.row-content-head-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-head-sec h1{
    color: #fff;
    font-size: 200%;

    padding: 0px 0px 4px;
}

.titulo-head-sec h3{
    color: #fff;
}

.gold-img-jucea{
    display: flex;

    width:380px;

    padding: 0px 15px;

    justify-content: right;
}


.pesquisa-link{
    display: flex;
    flex-direction: column;
}

.pesquisa-link a img{
    height: 25px;
    width: 25px;
}

.pesquisa-link{
    padding: 0px 15px;

    width: 300px;   
}

.pesquisa-link .icons-rede{
    padding: 20px 0px 0px;

    text-align: right;
}

.pesquisa-link input{
    height: 25px;

    padding: 15px;

    border-style: none;
    border-radius: 15px;
}

/*MENU PRINCIPAL*/
#head-menu{
    width: 100%;
    background: #fff;
}

#head-menu .navbar-menu{
    display: flex;

    width: 1140px;
    margin: 0 auto;

    padding: 0;
}

.navbar-menu li{
    list-style: none;
    position: relative;
    padding: 10px 0;
    transition: 0.2s;

    box-sizing: border-box;

    cursor: pointer;
}

.navbar-menu li:hover{
    background: #C0C0C0;
}

.navbar-menu li a{
    text-decoration: none;
    padding: 3px 13px;
    font-size: 81%;
}

.navbar-submenu {
    position: absolute;
    top: 38px;
    width: 230px;

    background: #fff;

    display: block;

    opacity: 0;
    visibility: hidden;
}

.navbar-menu li:hover .navbar-submenu{
    opacity: 1;
    visibility: visible;
}

#content-main{
    margin-left: auto;
    margin-right: auto;
}

/* widgth SLIDE*/

#content-main .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;

    display: flex;
}

